.next
node_modules
out
dist
*.tsbuildinfo
.next-dev.*.log
.vercel
.env
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
outputs
data/*
!data/.gitkeep
tools/natapp/*
!tools/natapp/.gitkeep
